body {
  background-image: url("./background.jpeg");
  background-size: cover;

  /* Center everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calculator skin */
#main-wrapper{
    margin-top: 25px;
    width: 300px;
    border-width: 30px 30px 60px 30px;
    border-radius: 30px;

    border-color: #567;
    border-style: solid;

    box-shadow: 10px 10px 5px #444;
}

/* Calculator screen */
#display{
    border-color: black!important;
    border-style: solid!important;
    border-width: 2px 1px 1px 2px!important;
    background-color: white;
    width: 100%;
    height: 90px;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Calculator buttons */
.btn{
    border-color: black;
    border-radius: 2px;
    border-width: 1px 3px 3px 1px;
    border-style: outset;
}
.btn-num{
    background-color: #eee;
}
.btn-eq{
    background-color: #7fa;
}
.btn-def{
    background-color: #aaa;
}

.btn:active{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: #666;
}

/* Make it neat and purdy */
.col-xs-3{width: 25%;}
.col-xs-4{width: 33.33333%;}
.col-xs-8{width: 66.66667%;}